<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {{ title }}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body class="has-background-dark">
<section>
    {% block content %}{% endblock %}
</section>
<footer class="footer hero is-paddingless {% block footer_colour %}is-dark{% endblock %}">
    <div class="content has-text-centered hero-body">
        <p>
            <strong class="has-text-light">{{ author }}</strong> &#169; {{ year }}
        </p>
    </div>
</footer>
</body>
</html>
