{% extends 'sections.html' %}

{% block section0_content %}
<div class="box is-fullwidth">
    {% if seed is not none %}
        <h2 class="subtitle is-3 has-text-centered has-text-dark">Board: '{{ seed }}'</h2>
    {% endif %}

    <table class="table is-striped is-bordered is-centered is-unselectable is-size-1-tablet is-size-4-mobile has-text-centered is-margin-auto">
        {% for row in board %}
            <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block section1_content %}
    <div class="columns">
        <div class="column">
            <div class="box">
            <form action="/" method="get">
                <div class="field">
                    <div class="control">
                        <a href="/"><button type="button" class="button is-link is-large is-fullwidth">Random Board</button></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="column">
        <div class="box">
            <div class="notification is-info">
                <p>Enter a key here to load a specific board.</p>
                <p>Any word will work as a key, a key will always produce the same board.</p>
                <p>Play with friends remotely by both entering the same key.</p>
            </div>
            <form action="/" method="get">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" name="seed" placeholder="Enter a key" value="{{ seed if seed is not none }}">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input type="submit" class="button is-link  is-large is-fullwidth" value="Specific Board"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>

{% endblock %}
